<!DOCTYPE html>

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <a href="/" id="ToMainPageButton"><button>Main page</button></a>
    <a href="/add" id="ToAddPageButton"><button>Add student</button></a>
    {% if not nostud %}
        <p>No students yet</p>
    {% else %}
        <table border="1">
            <caption>All students</caption>
            <tr>
                <th>SURNAME</th>
                <th>NAME</th>
                <th>SEX</th>
                <th>BIRTHDAY</th>
                <th>NATIONALITY</th>
                <th>ADDRESS</th>
                <th>MARK</th>
                <th>GROUP_ID</th>
            </tr>
            {% for student in students %}
            <tr>
                <td>{{ student[0] }}</td>
                <td>{{ student[1] }}</td>
                <td>{{ student[2] }}</td>
                <td>{{ student[3] }}</td>
                <td>{{ student[4] }}</td>
                <td>{{ student[5] }}</td>
                <td>{{ student[6] }}</td>
                <td>{{ student[7] }}
                    <a href="/edit/{{ student[8] }}"><button>E</button></a>
                    <a href="/delete/{{ student[8] }}"><button>D</button></a>
                </td>
            </tr>
            {% end %}
        </table>
    {% end %}
    <br><br><br>
    <form action="add" method="post">
            <input type="text" name="name" id="InputName">* Name (2-30) symbols + " " "-" ".")<br>
            <input type="text" name="surname" id="InputSurname">* Surname (2-50 symbols + " " "-" ".")<br>
            <input type="text" name="group_id" id="InputGroup">* Group ID (0 ... 999999999) <br>
            <input type="text" name="mark" id="InputMark">* Mark (2.0 ... 5.0)<br>
            <input type="radio" name="sex" value="M" id="InputSexM">Male
            <input type="radio" name="sex" value="F" id="InputSexF">Female     * Sex<br>
            <input type="text" name="birthday" id="InputBithday">* Birthday (YYYY-MM-DD)<br>
            <input type="text" name="address" id="InputAddress">Address (1-50 symbols and ",", ".", ";", "-", " ") <br>
            <input type="text" name="nationality" id="InputNationality">Nationality (2-20 symbols + " " "-" ".") <br>
        <input type="submit" name="add" value="Add">
    </form>
</body>
</html>
